<nav>
  <a href="/">Главная</a>
</nav>
<div>
  {{#if userName}}
    <a href="">{{userName}}</a> | 
    <a href="/logout">Выйти</a>
  {{else}}
    <a href="/login">Войти</a> | 
    <a href="/registration">Регистрация</a>
  {{/if}}
</div>