<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class='container'>
    {{> header}}
      
    {{{body}}}
    </div>
      
    {{> footer}}
</body>
<html>