<h1>О сайте:</h1>
<p>
Жил на свете человек,<br>
Скрюченные ножки,<br>
И гулял он целый век<br>
По скрюченной дорожке.<br>
<br>
А за скрюченной рекой<br>
В скрюченном домишке<br>
Жили летом и зимой<br>
Скрюченные мышки.<br>
<br>
И стояли у ворот<br>
Скрюченные ёлки,<br>
Там гуляли без забот<br>
Скрюченные волки.<br>
<br>
И была у них одна<br>
Скрюченная кошка,<br>
И мяукала она.<br>
Сидя у окошка.<br>
<br>
А за скрюченным мостом<br>
Скрюченная баба<br>
По болоту босиком<br>
Прыгала, как жаба.<br>
<br>
И была в руке у ней<br>
Скрюченная палка,<br>
И летела вслед за ней<br>
Скрюченная галка.<br>
</p>